In [218]:
import numpy as np
import pandas as pd
import math

In [2]:
df = pd.read_csv('../datasets/pokemon.csv')

In [3]:
display(df)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [6]:
df.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [5]:
df.tail(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [22]:
lista_columnas = list(df.columns)

In [23]:
print(lista_columnas)

['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']

In [29]:
columns_newname = [element.replace(' ', '_')   for element in lista_columnas]

In [32]:
dic_rename_columns = {x : y for x,y in zip(lista_columnas, columns_newname)}

In [33]:
dic_rename_columns

{'#': '#',
 'Name': 'Name',
 'Type 1': 'Type_1',
 'Type 2': 'Type_2',
 'Total': 'Total',
 'HP': 'HP',
 'Attack': 'Attack',
 'Defense': 'Defense',
 'Sp. Atk': 'Sp._Atk',
 'Sp. Def': 'Sp._Def',
 'Speed': 'Speed',
 'Generation': 'Generation',
 'Legendary': 'Legendary'}

In [44]:
df_work = df.rename(columns = dic_rename_columns)

In [45]:
df_work

,#,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp._Atk,Sp._Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [53]:
df.median(axis = 1)

0       47.0
1       61.0
2       81.0
3       90.0
4       46.5
       ...
795    100.0
796    110.0
797     95.0
798    105.0
799    100.0
Length: 800, dtype: float64

In [56]:
df.Legendary

0      False
1      False
2      False
3      False
4      False
       ...
795     True
796     True
797     True
798     True
799     True
Name: Legendary, Length: 800, dtype: bool

In [61]:
df.Attack.head(3)

0    49
1    62
2    82
Name: Attack, dtype: int64

In [62]:
df.HP.head(3)

0    45
1    60
2    80
Name: HP, dtype: int64

In [63]:
df.Defense.head(3)

0    49
1    63
2    83
Name: Defense, dtype: int64

In [75]:
df.loc[df.Attack & df.HP & df.Defense]['Type 1']

33    Ground
60     Water
80      Rock
64      Fire
32    Ground
       ...
0      Grass
32    Ground
0      Grass
0      Grass
64      Fire
Name: Type 1, Length: 800, dtype: object

In [167]:
df.loc[df.Attack & df.HP & df.Defense].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 33 to 64
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      449 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 82.0+ KB

In [73]:
df.loc[df.Attack & df.HP & df.Defense].columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 122.0+ KB

In [169]:
df_work.loc[(df_work.Type_1 == 'Fire') | (df_work.Legendary == True)]        # & df_work.Legendary is True

,#,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp._Atk,Sp._Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [137]:
#display(df_work.loc[df_work.Type_1 == 'Fire'])
#display(df_work.Type_1.value_counts())
display(df_work.Type_2.value_counts())

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Rock        14
Ghost       14
Ice         14
Water       14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type_2, dtype: int64

In [141]:
df_work.Type_2.isna().value_counts()
df_work.Type_1.isna().value_counts()

False    800
Name: Type_1, dtype: int64

In [104]:
df_work.tail(20)

,#,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp._Atk,Sp._Def,Speed,Generation,Legendary
780,710,PumpkabooAverage Size,Ghost,Grass,335,49,66,70,44,55,51,6,False
781,710,PumpkabooSmall Size,Ghost,Grass,335,44,66,70,44,55,56,6,False
782,710,PumpkabooLarge Size,Ghost,Grass,335,54,66,70,44,55,46,6,False
783,710,PumpkabooSuper Size,Ghost,Grass,335,59,66,70,44,55,41,6,False
784,711,GourgeistAverage Size,Ghost,Grass,494,65,90,122,58,75,84,6,False
785,711,GourgeistSmall Size,Ghost,Grass,494,55,85,122,58,75,99,6,False
786,711,GourgeistLarge Size,Ghost,Grass,494,75,95,122,58,75,69,6,False
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [92]:
df_work.iloc[6:15, 5:10]

    HP  Attack  Defense  Sp._Atk  Sp._Def
6   78      84       78      109       85
7   78     130      111      130       85
8   78     104       78      159      115
9   44      48       65       50       64
10  59      63       80       65       80
11  79      83      100       85      105
12  79     103      120      135      115
13  45      30       35       20       20
14  50      20       55       25       25

In [148]:
display(df_work.loc[(df_work.Legendary == True) & (df_work.Type_1 == 'Fire')])

,#,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp._Atk,Sp._Def,Speed,Generation,Legendary
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
263,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
542,485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [151]:
df_work.Type_2.loc[(df_work.Legendary == True)].value_counts()

Flying      13
Psychic      5
Fighting     4
Dragon       4
Ice          3
Fire         3
Fairy        2
Water        1
Ground       1
Steel        1
Ghost        1
Electric     1
Dark         1
Name: Type_2, dtype: int64

In [197]:
df_work[['Type_1', 'Type_2']].loc[df_work.Legendary == True].value_counts()

Type_1    Type_2
Dragon    Psychic     4
          Ice         3
Electric  Flying      3
Dragon    Flying      2
Rock      Fairy       2
Fire      Flying      2
Ground    Flying      2
Ghost     Dragon      2
Water     Dragon      1
Grass     Fighting    1
Dragon    Electric    1
          Fire        1
          Ground      1
Fire      Steel       1
          Water       1
Grass     Flying      1
Steel     Psychic     1
Ground    Fire        1
Ice       Flying      1
Psychic   Dark        1
          Fighting    1
          Fire        1
          Flying      1
          Ghost       1
Rock      Fighting    1
Steel     Dragon      1
          Fighting    1
Dark      Flying      1
dtype: int64

In [212]:
df_work.loc[(df_work.Type_1 == 'Electric') & (df_work.Type_2 == 'Flying')].shape

(5, 13)

In [213]:
df_work.loc[(df_work.Type_1 == 'Electric') & (df_work.Type_2 == 'Flying') & (df_work.Legendary == True)].shape

(3, 13)

In [214]:
df_work.loc[(df_work.Type_1 == 'Electric') & (df_work.Type_2 == 'Flying') & (df_work.Legendary == False)].shape

(2, 13)

In [222]:
math.gcd (2, 13)

1